Test-Command: env BUILD_EXCLUSIVE_CONFIG="!CONFIG_PREEMPT_RT !CONFIG_PREEMPT_RT_FULL" /usr/share/modass/module-assistant-autopkgtest nvidia-kernel
Features: test-name=m-a-autopkgtest
Architecture: amd64 arm64 ppc64el
Depends:
 nvidia-kernel-source,
 module-assistant-autopkgtest,
 linux-doc,
Restrictions:
 superficial,
 needs-root,
 breaks-testbed,
 allow-stderr,

Test-Command: nvidia-detect && nvidia-detect 10DE1340 0000
Features: test-name=nvidia-detect
Architecture: amd64 arm64 ppc64el
Depends:
 nvidia-detect,
Restrictions:
 superficial,
